---
// Burası JavaScript/Frontmatter alanı
const pageTitle = "CineVerse";
---

<html lang="tr">
	<head>
		<meta charset="utf-8" />
		<title>{pageTitle}</title>
	</head>
	<body>
		<div class="container">
			<h1>CineVerse'e Hoş Geldiniz !</h1>
			<p>Burası proje lideri tarafından hazırlandı.</p>
		</div>
	</body>
</html>

<style>
  /* İŞTE SCOPED CSS BURASI */
  /* Bu stiller sadece bu sayfadaki elementleri etkiler */
  
  h1 {
    color: darkred;
    font-family: sans-serif;
  }

  .container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
  }
</style>