---
import MainLayout from '../layouts/MainLayout.astro';
import movies from '../data/movies.json';
---

<MainLayout title="Anasayfa">
    <h1>Hoş Geldiniz!</h1>
    <p>Burası Cineverse ana sayfası. Artık Layout kullanıyoruz!</p>
    <ul>
        {movies.map((movie) => (
            <li>{movie.title} - {movie.rating}</li>
        ))}
    </ul>
</MainLayout>