---
// Burası JavaScript/TypeScript yazdığımız alan (Frontmatter)
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Cineverse Sinema Uygulaması">
    <title>{title} | Cineverse</title>
    </head>
<body>
    <header>
        <nav>
            <h1>Cineverse</h1>
            </nav>
    </header>

    <main> 
        <slot /> 
    </main>

    <footer>
        <p>&copy; 2025 Cineverse. Tüm hakları saklıdır.</p>
    </footer>
</body>
</html>